body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f15bb5;
  color: #fff;
}

p {
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header component */
.menu-icon {
  margin-top: 25px;
  margin-bottom: 25px;
}

.play-font {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

/*Education component*/
.education-container{
  background-color: #00F5D4;
  color: #fff;
}

.paragraph{
  color: #676767;
  font-size: 18px;
}

/*Contact component*/

.contact-container{
  background-color: #FEE440;
  color: #636363;
}

.button{
  background-color: #FEE440 ;
}